<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SerialDefaults</key>
	<dict/>
	<key>SerialTheme</key>
	<string>tomorrow_night_blue</string>
	<key>ShowSourceInDisassembly</key>
	<false/>
	<key>UploadVerbosity</key>
	<integer>2</integer>
	<key>RecentProgrammers</key>
	<array>
		<string>usbasp</string>
		<string>usbtinyisp</string>
		<string>avrispmkii</string>
		<string>avrisp</string>
		<string>scratchmonkey</string>
		<string>arduinoisp</string>
		<string>arduino</string>
	</array>
	<key>RecentBoards</key>
	<array>
		<string>micro</string>
		<string>leonardo</string>
		<string>mega2560</string>
		<string>uno</string>
	</array>
	<key>Port</key>
	<string></string>
	<key>Programmer</key>
	<string></string>
	<key>Board</key>
	<string>uno</string>
	<key>Bindings</key>
	<string>Ace</string>
	<key>FontSize</key>
	<integer>12</integer>
	<key>Theme</key>
	<string>xcode</string>
</dict>
</plist>
