<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Port</key>
	<string></string>
	<key>Programmer</key>
	<string>arduino</string>
	<key>Board</key>
	<string>uno</string>
	<key>Bindings</key>
	<string>Ace</string>
	<key>FontSize</key>
	<integer>12</integer>
	<key>Theme</key>
	<string>xcode</string>
</dict>
</plist>
