<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avrsackproj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ProjIcon</string>
			<key>CFBundleTypeName</key>
			<string>Project</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>ICExtension</key>
			<string>PROJ</string>
			<key>NSDocumentClass</key>
			<string>AVRsack.ASProjDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ino</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>InoIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Arduino Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>INO</string>
			<key>NSDocumentClass</key>
			<string>AVRsack.ASProjDoc</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>AVRsack Help</string>
	<key>CFBundleIdentifier</key>
	<string>org.aereperennius.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>Av®∑</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2016 Aere Perennius. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>ICExtension</key>
			<string>C</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C Source Code</string>
			<key>UTTypeIconFile</key>
			<string>CSrcIcon</string>
			<key>UTTypeIdentifier</key>
			<string>public.c-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>c</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>ICExtension</key>
			<string>HDR</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C Header</string>
			<key>UTTypeIconFile</key>
			<string>HSrcIcon</string>
			<key>UTTypeIdentifier</key>
			<string>public.c-header</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>h</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>ICExtension</key>
			<string>C++</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C++ Source Code</string>
			<key>UTTypeIconFile</key>
			<string>CppSrcIcon</string>
			<key>UTTypeIdentifier</key>
			<string>public.c-plus-plus-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>c++</string>
					<string>cpp</string>
					<string>cxx</string>
					<string>cc</string>
					<string>cp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>ICExtension</key>
			<string>ASM</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Assembly Source</string>
			<key>UTTypeIconFile</key>
			<string>AsmSrcIcon</string>
			<key>UTTypeIdentifier</key>
			<string>public.assembly-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>s</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>ICExtension</key>
			<string>DOCS</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown</string>
			<key>UTTypeIconFile</key>
			<string>MdSrcIcon</string>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
